# Primitive Data Types

In [2]:
a = 5 # number
b = True # boolean
c = "Hello world" #string

p, q = "hello", "test" # multiple assignment
print(p, q) # prints the data

p, q = q, p # swapping the variables
print(p, q)

# initializing bulk variables
[x, y, z] = [False for x in range(3)]
print(x, y, z)

hello test
test hello
False False False

# Printing the Data (Output)

In [3]:
print(a) # simple print
print(f'{c} {a} is {b}') # formatted printing

# special printing
print("This is a 'single quote' example\n");
print("This is \"double quote\" example\n");
print(f"""This is 
a multi
line print with formatting {q}""")

5
Hello world 5 is True
This is a 'single quote' example

This is "double quote" example

This is
a multi
line print with formatting hello

# Input the Data (Input)

In [3]:
# simple input

inp = input("Enter your name") 
print(f'Your name is {inp}');

Enter your name Ojaswi

Your name is Ojaswi

In [4]:
# formatted input, space separated, etc

name, age = input("Enter your name and age separated by space").split() # split string function takes a parameter to split the string
print(f'Your name is {name} and you are {age} years old.')

Enter your name and age separated by space Ojaswi 25

Your name is Ojaswi and you are 25 years old.

In [3]:
# space separated integers
rows, cols = list(map(int, input("Enter rows and columns").split(" ")))
print(rows, cols, type(rows), type(cols))

5 4 <class 'int'> <class 'int'>

In [5]:
# let's see what happens when we assign it to one variable

details = input("Enter your name and age separated by space").split()
print(details, type(details)) # printing the variable and the type

Enter your name and age separated by space Ojaswi 25

['Ojaswi', '25'] <class 'list'>

In [6]:
# above code means you can destructure the data from a list directly

x, y = [5, 8]
print(x, y, type(x), type(y))

5 8 <class 'int'> <class 'int'>

In [7]:
# input in a list using for loop

n, inputs = 3, []
for i in range(n):
    inputs.append(input(f'Enter the number {i}: '))
print(inputs)

Enter the number 0:  4
Enter the number 1:  3
Enter the number 2:  1

['4', '3', '1']

# Number Arithmetic

In [8]:
a, b = 5, 2

#basics
c = a + b # addition
d = a - b # subtraction
e = a * b # multiplication
f = a / b # division

print(c, d, e, f)

7 3 10 2.5

In [9]:
#special
x = a % b # modulo
y = a // b # floor division (without floating point)
z = a ** b # exponentiation

print(x, y, z)

1 2 25

# Boolean

In [10]:
a = True
b = False

# using 'or' and 'and'
print(a or b, a and b)

True False

# Bitwise operations

In [11]:
a, b = 5, 4 # a is 101 and b is 100 in bits

print(a & b) # and - 100 -- 4
print(a | b) # or - 101 -- 5
print(~b) # not - 011 -- 3 (not correct answer since there are more bits than just three in a number)
print(a ^ b) # xor - 001 -- 1
print(a << 1) # left shift - 1010 -- 10
print(a >> 1) # right shift - 010 -- 2

4
5
-5
1
10
2

# Conditional Statements

## If, Else, Elif

In [ ]:
age = int(input("Enter your age: "), base=10) # takes a string and converts into decimal int

if age < 16:
    print("You cannot vote!");
elif age < 18:
    print("Wait till you are 18!")
else:
    print("Please vote!")

Enter your age:  25

Please vote!

## Match (Switch)

In [2]:
lang = input("What's the programming language you want to learn? ")

match lang:
    case "JavaScript":
        print("You can become a web developer.")

    case "Python":
        print("You can become a Data Scientist")

    case "PHP":
        print("You can become a backend developer")
    
    case "Solidity":
        print("You can become a Blockchain developer")

    case "Java":
        print("You can become a mobile app developer")
    case _: # default
        print("The language doesn't matter, what matters is solving problems.")

The language doesn't matter, what matters is solving problems.

# Loops

## For Loop

In [3]:
for i in range(5):
    print(i)
    
print(i) # not scoped

# range function
ran = range(5)
print(ran, type(ran))

# for loops in list
list = [4, 5, 6, 1, 8]
for i in list:
    print(i)

# for in string
name = "Ojaswi"
for c in name:
    print(c)

0
1
2
3
4
4
range(0, 5) <class 'range'>
4
5
6
1
8
O
j
a
s
w
i

## While Loop

In [2]:
i = 3
while i > 0:
    print(i)
    i -= 1;

3
2
1

# Error (Exception) Handling

In [25]:
# hadling errors

x = "ojas"
try:
    x + 45
except TypeError:  # will only catch TypeErrors
    print("TypeError occured")
except ValueError: # will only catch ValueErrors
    print("ValueError occured")
except:
    print("Unclassified Error occured") # catch all errors only when no other errors are caught
finally:
    print("This is finally block")

TypeError occured
This is finally block

In [32]:
# throwing or raising errors

x = 6
try: # you try to open a file
    print("Inside Try")
    if x < 5:
        raise ValueError("Value cannot be less than 5!")

except ValueError as error: # catching the error (if file doesn't exist, you gracefully tell the user)
    print(error)

else: # if file exists then do the operation (this could've been done in the try block itself but whatever)
    print("Else executed when there was no error...")
    
finally:
    print("Finally will execute no matter what!")

Inside Try
Else executed when there was no error...
Finally will execute no matter what!

# Typecasting

In [8]:
# number to string

num = 5
five = str(num)
print(five, type(five))

5 <class 'str'>

In [5]:
# string to float and int

five = '5.2'
deci = float(five)
print(deci, type(deci))

six = '6' # cannot convert 6.0 to int directly
num = int(six)
print(num, type(num))

num = int(float(five)) # can convert floats to int and vice versa
print(num, type(num))

5.2 <class 'float'>
6 <class 'int'>
5 <class 'int'>