# Python Data Structures

[Also See Python Collections](https://docs.python.org/3/library/collections.html)

## String and Operations

[See All String Operations](https://www.w3schools.com/python/python_ref_string.asp)

In [1]:
# define a string and print the length

name = "Ojaswi Athghara"
print(len(name)) # length of any sequence

15

In [2]:
# find a character in the string

print("First a:", name.find('a')) # returns the first position of 'a'
print("First a:", name.index('a')) # returns the first position of 'a'
print("Last a:", name.rfind('a')) # returns the last position of 'a'
print("Last a:", name.rindex('a')) # returns the last position of 'a'
print("X there?:", name.find('x')) # returns -1 for not found.

First a: 2
First a: 2
Last a: 14
Last a: 14
X there?: -1

In [3]:
# join a list with a given string

joinee = "0"
ls = joinee.join(["this", "needs", "to", "be", "a", "string", "list"])
print("ls:", ls)

ls: this0needs0to0be0a0string0list

In [4]:
# replace

name2 = name.replace('a', 'x') # replace all
print("name2:", name2)

n = 2
name3 = name.replace('a', 'x', n) # replace n number of occurences
print("name3:", name3)

# replacing only the nth occurrence of a character in the string
n = 2
sub = "a" # substring to replace
rep = "x" # substring to replace with

nameList = name.split('a');
name4 = sub.join(nameList[:n]) + rep + sub.join(nameList[n:])
print("name4:", name4)

name2: Ojxswi Athghxrx
name3: Ojxswi Athghxra
name4: Ojaswi Athghxra

In [5]:
# split

print(name.split('a')) # splits wherever 'a' is there
print(name.rsplit('a'))

['Oj', 'swi Athgh', 'r', '']
['Oj', 'swi Athgh', 'r', '']

In [6]:
# misc

print("Count of As:", name.count('a')) # returns count
print("Does it ends with 'a'?:", name.endswith('a'))
print("Does it starts with 'a'?:", name.startswith('a'))

Count of As: 3
Does it ends with 'a'?: True
Does it starts with 'a'?: False

In [6]:
# text wrap
from textwrap import wrap

longtext = "This is a very long text created for example purpose!"
wrapList: list[str] = wrap(longtext, 4) # string, length to be wrapped
print("\n".join(wrapList))

This
is a
very
long
text
crea
ted
for
exam
ple
purp
ose!

In [8]:
# justify ---> takes a length param to insert the required number of spaces.
print("foo".ljust(6))
print("foo".rjust(6))
print("foo".center(6))

foo
   foo
 foo

## List

[See All List Operations](https://www.w3schools.com/python/python_ref_list.asp) <br/>
[See List Comprehension](https://www.w3schools.com/python/python_lists_comprehension.asp)

### List Operations

In [7]:
# basic operations

list = [32, 89, 65, 29, 18]

print("Length of the list:", len(list)) # length of the list

list.append(4) # add element to the last of the list
print("List after appending:", list)

list.insert(2, 789)
print("List after inserting 789 at index 2:", list)

list.pop() # remove last element from the list
print("List after removing last:", list)

list.pop(2) # remove element at index 2
print("List after popping 2 index:", list)

print("Number of 32 in the List:", list.count(32)) # count the number of 32 in the list

Length of the list: 5
List after appending: [32, 89, 65, 29, 18, 4]
List after inserting 789 at index 2: [32, 89, 789, 65, 29, 18, 4]
List after removing last: [32, 89, 789, 65, 29, 18]
List after popping 2 index: [32, 89, 65, 29, 18]
Number of 32 in the List: 1

In [8]:
# deep and shallow copy

list2 = list.copy();
list2[0] = 999
print("Original list:", list, "\nCopied and modified list:", list2)

#shallow copy
copySh = list
copySh[0] = 666
print("After shallow copying and modifying:", list)

Original list: [32, 89, 65, 29, 18]
Copied and modified list: [999, 89, 65, 29, 18]
After shallow copying and modifying: [666, 89, 65, 29, 18]

In [9]:
# extensions

list.extend({5, 8, 3, 2, 2, 2, 2}) # extends with any sequence, in this case, a set
print("Extended List:", list)

print("First occurrence of 29 in the list:", list.index(29))

Extended List: [666, 89, 65, 29, 18, 8, 2, 3, 5]
First occurrence of 29 in the list: 3

In [16]:
# sort

sortCopy = sorted(list, reverse = True)
print("Sorted Copy:", sortCopy, "\nOriginal Copy:", list)

# inplace sort 
list.sort(reverse = True) # remove reverse argument to sort ascending
print("Inplace sorted list:", list) 

# reverse
list.reverse();

Sorted Copy: [666, 89, 65, 29, 18, 8, 5, 3, 2]
Original Copy: [666, 89, 65, 29, 18, 8, 5, 3, 2]
Inplace sorted list: [666, 89, 65, 29, 18, 8, 5, 3, 2]

In [19]:
# clear the list

list.clear()
print("List after clearing:", list)

list.append(2)
print("Brand new list:", list)

List after clearing: []
Brand new list: [2]

In [30]:
# unpack the list

list = [2, 5, 3]
[a, b, c] = list # you need to unpack all the values in the list
print(a, b, c)

2 5 3

### List Comprehension

#### Simple Comprehensions

In [11]:
fruits = ["apple", "mango", "guava", "tomato"]

fruitsWithO = [f for f in fruits if 'o' in f] # only fruit names containing 'o'
print("Fruits only with 'o':", fruitsWithO)

fruitsCaps = [f.upper() for f in fruits] # converts all to upper case
print("Fruits all caps:", fruitsCaps)

onlyBanana = ["banana" for f in fruits] # banana x len(fruits)
print("Fruits only banana:", onlyBanana)

replaceAppleWithOrange = [f if f != 'apple' else 'orange' for f in fruits]
print("Replaced Apple with Orange:", replaceAppleWithOrange)

genList = [x for x in range(10) if x > 5] # generates a new list
print("Generated List:", genList)

noApple = [f for f in fruits if f != "apple"]
print("I don't like Apples:", noApple)

Fruits only with 'o': ['mango', 'tomato']
Fruits all caps: ['APPLE', 'MANGO', 'GUAVA', 'TOMATO']
Fruits only banana: ['banana', 'banana', 'banana', 'banana']
Replaced Apple with Orange: ['orange', 'mango', 'guava', 'tomato']
Generated List: [6, 7, 8, 9]
I don't like Apples: ['mango', 'guava', 'tomato']

#### Nested Comprehensions

[This is a HackerRank Problem](https://www.hackerrank.com/challenges/list-comprehensions/problem?isFullScreen=true)

In [2]:
# print all the co-ordinates combinations such that i <= x, j <= y, k <= z where (i + j + k) ! = n

x = 2
y = 2
z = 2
n = 3

coords: list[list[int]] = [[i, j, k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k) != n]
print(coords)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 2, 0], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2], [1, 2, 1], [1, 2, 2], [2, 0, 0], [2, 0, 2], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

#### Any Function

In [5]:
noUppercase = "hello"
uppercase = "heLLo"

hasUppercase = any([c.isupper() for c in noUppercase])  # converts the string into a list of boolean based on isUppercase
print(hasUppercase)

hasUppercase = any([c.isupper() for c in uppercase])
print(hasUppercase)

False
True

## Tuples

[Nothing Fancy, check here](https://www.w3schools.com/python/python_tuples.asp)

In [26]:
# tuples are immutable

fruits = ("apple", "banana", "cherry")
print(fruits)

print(len(fruits))

# to update a value first convert it into a list
print(fruits[2])
newFruits = list(fruits)
newFruits[2] = "orange"
print(tuple(newFruits))

# unpacking
(red, yellow, pink) = fruits # unpacks and assign -> you must unpack all the values
print(red, yellow, pink)

('apple', 'banana', 'cherry')
3
cherry
('apple', 'banana', 'orange')
apple banana cherry

In [32]:
# loop tuples
for f in fruits:
    print(f)

apple
banana
cherry

In [34]:
# join tuples
names = ("ojas", "ayush", "tiwari")
numbs = (1, 3, 4)

print(names + numbs)

('ojas', 'ayush', 'tiwari', 1, 3, 4)

In [36]:
# methods

nums = (1, 1, 4, 5, 3, 1, 4, 1, 8)

print(nums.count(1)) # count the number of occurrences of 1

print(nums.index(4)) # returns the first index of 4

4
2

## Sets

[Check out sets here](https://www.w3schools.com/python/python_sets.asp)

### Set Operations

In [79]:
# sets are unordered, you won't know in which order the item would appear

nums = {4, 5, 6, 1, 1, 2, 2, 6, 9, 2}
print(nums) # only unique values are stored

numList = [4, 5, 2, 6, 2 ,2 ,1, 5, 6]
nums = set(numList) # construct a set from a list
print(nums)

misc = {"apple", "banana", "cherry", False, True, 0} # False and 0 are considered same so only False is there
print(misc)

{1, 2, 4, 5, 6, 9}
{1, 2, 4, 5, 6}
{False, True, 'cherry', 'apple', 'banana'}

In [55]:
# sets are immutable, individual elements can't be accessed

nums.add(7) # adds one element to the set
print(nums)

nums.update([5, 2, 5, 4, 9, 0]) # update the set with multiple numbers
print(nums)

nums.discard(9) # remove 9 from the set
print(nums)

nums.pop() # removes a random element from the set
print(nums)

{1, 2, 4, 5, 6, 7}
{0, 1, 2, 4, 5, 6, 7, 9}
{0, 1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

In [56]:
# print individual elements

for el in nums:
    print(el)

1
2
4
5
6
7

### Set Methods

In [58]:
nums = set([4, 5, 7, 2, 2, 2, 2, 7, 8, 9, 0])
print(nums)

nums.add(6) # add a number
print(nums)

nums.discard(6) # removes a number
print(nums)

nums2 = nums.copy() # returns a copy of the set
print(nums2)

nums.remove(9) # removes the number from the set
print(nums)

{0, 2, 4, 5, 7, 8, 9}
{0, 2, 4, 5, 6, 7, 8, 9}
{0, 2, 4, 5, 7, 8, 9}
{0, 2, 4, 5, 7, 8, 9}
{0, 2, 4, 5, 7, 8}

In [68]:
nums1 = {1, 3, 5, 7, 9, 6}
nums2 = {1, 2, 3, 5, 7, 8}

uni = nums2.union(nums1) # union of two sets
print(uni)

ins = nums2.intersection(nums1) # intersection of two sets
print(ins)

nums1.intersection_update(nums2) # intersection of two sets, updates the same set and returns nothing
print(nums1)

nums1 = {1, 3, 5, 7, 9, 6}

dif = nums1.difference(nums2) # difference of two sets ---> discards the extra elements in the second set | returns a new set
print(dif)

nums1.difference_update(nums2) # difference of two sets, updates the same set and returns nothing
print(nums1)

{1, 2, 3, 5, 6, 7, 8, 9}
{1, 3, 5, 7}
{1, 3, 5, 7}
{9, 6}
{6, 9}

In [74]:
a = {'hello', 'world', 1, 2}
b = {1, 2}
c = {3, 4}

print(c.isdisjoint(b)) # mutually exclusive?
print(a.issubset(b)) # is a subset of b?
print(a.issuperset(b)) # is a superset of b?

True
False
True

In [77]:
a = {'hello', 'world', 1, 2}
b = {1, 2, 3, 4}

symdif = a.symmetric_difference(b) # elements from both set not present in each other (A union B) - (A intersection B)
print(symdif)

a.symmetric_difference_update(b) # inplace symmetric difference
print(a)

{3, 4, 'hello', 'world'}
{3, 4, 'hello', 'world'}

### Set Deletion

In [80]:
nums.clear() # clears the set
print(nums)

del nums # deletes the set from the memory

set()

## Dictionary (Map)

[Checkout Dictionary Here](https://www.w3schools.com/python/python_dictionaries_methods.asp)

### Dictionary Operations

In [13]:
car = { 
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020 # only unique values are allowed
}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [14]:
# access items

print(car['brand'])
print(car.get('brand'))

Ford
Ford

In [15]:
# update item
car['brand'] = "Mercedes"
print(car)

# add item
car['color'] = "Red"
print(car)

# add multiple
car.update({
    "country": "Germany",
    "body": "Carbon Fiber"
})
print(car)

# remove item
car.pop('body')
print(car)

# popItem will remove the last added item
car.popitem()
print(car)

{'brand': 'Mercedes', 'model': 'Mustang', 'year': 2020}
{'brand': 'Mercedes', 'model': 'Mustang', 'year': 2020, 'color': 'Red'}
{'brand': 'Mercedes', 'model': 'Mustang', 'year': 2020, 'color': 'Red', 'country': 'Germany', 'body': 'Carbon Fiber'}
{'brand': 'Mercedes', 'model': 'Mustang', 'year': 2020, 'color': 'Red', 'country': 'Germany'}
{'brand': 'Mercedes', 'model': 'Mustang', 'year': 2020, 'color': 'Red'}

In [29]:
# looping items
for key in car:
    print(key, car[key])
    
print("================")

for key, value in car.items():
    print(key, value)

brand Mercedes
model Mustang
year 2020
color Red
================
brand Mercedes
model Mustang
year 2020
color Red

In [25]:
# get all the keys and values

print(car.keys())
print(list(car.keys()))

print("============================================================")

print(car.values())
print(list(car.values()))

print("============================================================")

print(car.items()) # returns a list with tuples
print(list(car.items())) # returns a list with tuples

dict_keys(['brand', 'model', 'year', 'color'])
['brand', 'model', 'year', 'color']
============================================================
dict_values(['Mercedes', 'Mustang', 2020, 'Red'])
['Mercedes', 'Mustang', 2020, 'Red']
============================================================
dict_items([('brand', 'Mercedes'), ('model', 'Mustang'), ('year', 2020), ('color', 'Red')])
[('brand', 'Mercedes'), ('model', 'Mustang'), ('year', 2020), ('color', 'Red')]

In [40]:
# copy dictionary

car2 = car.copy() # deep copy
car2['brand']= "Ford"
print(car)
print(car2)

car3 = dict(car) # deep copy
car3['brand'] = "Chevrolet"
car3['model'] = "Camaro"
print(car3)

{'brand': 'Mercedes', 'model': 'Mustang', 'year': 2020, 'color': 'Red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'Red'}
{'brand': 'Chevrolet', 'model': 'Camaro', 'year': 2020, 'color': 'Red'}

### Dictionary Methods

In [47]:
# create dictionary from keys
keys = ('make', 'model', 'year')
value = 0
car = dict.fromkeys(keys, value)
print(car)

values = ('Lamborghini', 'Aventador', 1966) # won't work as expected, will assign this tuple to all keys
lambo = dict.fromkeys(keys, values)
print(lambo)

{'make': 0, 'model': 0, 'year': 0}
{'make': ('Lamborghini', 'Aventador', 1966), 'model': ('Lamborghini', 'Aventador', 1966), 'year': ('Lamborghini', 'Aventador', 1966)}

In [49]:
# setdefault

car = {
    "brand": "Ferrari",
    "color": "Red"
}

color = car.setdefault("color", "Green") # key already present then returns the value
print(color)

car.setdefault("country", "Italy") # key not present then set the key with the value
print(car)

Red
{'brand': 'Ferrari', 'color': 'Red', 'country': 'Italy'}

### Clear and Delete

In [12]:
# clear the dictionary
car.clear()
print(car)

# deletes form memory
del car

{}

## Slicing
Applicable to Lists, Strings, Tuples, etc

### 1D Slicing

In [3]:
ls: list[int] = list("0123456789")
print(ls)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [6]:
# slice syntax = start, end (not included), step

print(ls[4: 9])  # start, end(not included)

print(ls[4: 9: 2]) # start, end, step every other element

print(ls[9: 4: -1]) # start, end(not included) -1 means reverse

['4', '5', '6', '7', '8']
['4', '6', '8']
['9', '8', '7', '6', '5']

### nD Slicing
nD Slicing is not possible, use careful List Comprehensions with 1D slicing

In [14]:
ls = [[0, 1, 2, 10, 20, 30], [3, 4, 5, 30, 40, 50], [6, 7, 8, 60, 70, 80], [11, 22, 33, 44, 55, 66]] # 2D list
print(ls)

[[0, 1, 2, 10, 20, 30], [3, 4, 5, 30, 40, 50], [6, 7, 8, 60, 70, 80], [11, 22, 33, 44, 55, 66]]

In [24]:
newls = [x[5: 2: -1] for x in ls]
print(newls)

[[30, 20, 10], [50, 40, 30], [80, 70, 60], [66, 55, 44]]